
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');



.detail{
    background-image:url(../images/whitewood.jpeg);
    background-repeat: repeat;
}

body{
    
    font-family: 'RocknRoll One', sans-serif;
}

.main{
    background-image: url(../images/backcafe.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.titlename{
    color: #fff;
}

#title{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 85%;
    margin: 0 auto;
}


.form-inline{
    justify-content: flex-end;
}

.cafes{
    width: 85%;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 56px 3.5%;
}

.cafe{
    width:31%
}

.cafe_foop{
    position: relative;
    width: 100%;
    height: 0%;
    padding-top: 100%;
    border-radius: 50%;
    background: skyblue;
}


.cafe_description{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

.end{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: white;
}

.detailInfo{
    display: flex;
    justify-content: space-around;
}

.detailImage{
    text-align: center;
}

.mapText{
    display: flex;
    justify-content: space-around;
}

#gmap{
    width: 50%;
    height: 0;
    padding-top: 40%;
    margin: 0 auto
}

.footer {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.footer:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

#entryTitle{
    color:#000;
    font-size: 3em;
}

.entryInfo{
    color:#000;
    text-align:center;
}

.cafeEntry {
	position: relative;
	width: 50%;
	margin: 80px auto;
	color: #000;
}

.cafeEntry input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}

.cafeEntry input[type='text']:focus {
	outline: none;
}

.ef {
	position: relative;
	padding: 7px 15px;
	border: 0;
	border: 2px solid black;
	background: transparent;
}
.ef ~ .focus_bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transition: 0.4s;
	background-color: transparent;
}
.ef:focus {
	border: 1px solid #da3c41;
}
.ef:focus ~ .focus_bg, .cp_iptxt.ef ~ .focus_bg {
	width: 100%;
	transition: 0.4s;
	background-color: rgba(218,60,65,.3);
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 14px;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: black;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -18px;
	left: 0;
	transition: 0.3s;
	color: #da3c41;
}

.submitBt{
    text-align:center;
}

.title{
    align-items:center;
    width: 85%;
    margin: 0 auto;
}

.ed_lin{
    align-items:center;
    width: 85%;
    margin: 0 auto;
}

.comments{
    align-items:center;
    width: 85%;
    margin: 0 auto;
}

.back{
    align-items:center;
    width: 65%;
    margin: 0 auto;
}

.eeTitle{
    align-items:center;
    width: 85%;
    margin: 0 auto;
}

@media not all and (min-width: 768px) {
    
    .main{
        background-image:url(../images/whitewood.jpeg);
        background-repeat: repeat;
        background-size: auto;
        min-height: 0vh;
    }
    
    .titlename{
        color: black;
    }    
    
    #title{
        display: block;
    }
    
    .form-inline{
        vertical-align: top;
    }
    
    .cafe{
        width: 100%;
    }
    
    .detailImage img{
        width: 100%;
    }
    
    .mapText{
        display: block;
    }
    
    #gmap{
        width: 100%;
        height: 0;
        padding-top: 100%;
        margin-bottom: 3.5%;
    }
    
    #entryTitle{
        color:#000;
        font-size: 5em;
    }
    
    
}